body {
  margin: 0 auto;
  background-color: #d1e6e2;
  min-width: 350px;
}
.App {
  text-align: center;
  margin-right: 10%;
  margin-left: 10%;
  background: #c6c7c7;
}

.dv-header-title{
  font-size: 30px;
}
.dv-footer{
  margin-top: 10px;
  height: 30px;
  border: 0;
}
.dv-footer a{
  color: #0000ff;
  text-decoration: none;
}

.dv-footer a:hover{
  text-decoration: underline;
  color: #a52a2a;
}

.dv-footer-separator {
  height: 1px;
  background: #a79b9b;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 5px;
}

.dv-characters-container{
  min-height: 700px;
  min-width: 350px;
}
.dv-list-item-wrapper{
  height: 100%;
  width: 100%;
}

.characters-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  background: #d2d2bd;
}

.characters-list .list-item {
  background: #69a269;
  position: relative;
  border-bottom: 1px solid;
  border-radius: 10px;
}

.characters-list .list-item:nth-child(odd) {
  background:  #8597b5;
}

.dv-character-name {
  font-size: 26px;
  width: 85%;
  padding-top: 5px;
  padding-bottom: 2px;
}
.dv-character-planet {
  width: 85%;
  font-size: 18px;
  padding-bottom: 5px;
}

.rating-container {
  display: flex;
  align-items: center;
  background-color: #69a269;
}

.characters-list .list-item:nth-child(odd) .rating-container {
  background-color:  #8597b5;
}

.rating-box {
  height: 25px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: 15%;
  margin-right: 10px;
}

.rating-box div {
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  margin: 5px;
  width: 33.33%;
}

.character-features{
  height: 40px;
  width: 75%;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.feature-title, .feature-value{
  text-align: center;
  vertical-align: middle;
  width: 40%;
  font-size: 18px;
}
.feature-title{
  font-weight: bold;
}
.dv-overall-rating {
  padding: 10px;
}
.dv-lbl-overall {
  font-size: 22px;
}

.dv-search-box {
  height: 40px;
  padding: 8px;
}
.search-charaters-input {
  line-height: 35px;
  height: 35px;
  font-size: 18px;
  padding-left: 15px;
  padding-right: 30px;
  outline: none;
  width: 50%;
  border: none;
  -moz-box-shadow: 3px 3px 5px 6px #6f8470;
  -webkit-box-shadow: 3px 3px 5px 6px #6f8470;
  box-shadow: 1px 1px 2px 2px #6f8470;
}

.search-icon {
  margin-left: -25px;
}

.dv-search-wrap{
  position: relative;
}
.stars-icon {
  color: #110694;
}

.vote-btn {
  width: 40px;
  height: 25px;
}

.vote-icon{
  color: #0000ff;
  font-size: 18px;
}

.dv-overall-lbl-container{
  display: flex;
  align-items: center;
}

.div-overall-lbl-left{
  width: 50%;
  text-align: right;
  padding-right: 20px;
}

.div-overall-lbl-right{
  text-align: left;
}

.dv-deatil-view ul {
  list-style: none;
  padding: 5px;
}

.dv-details-item-container {
  position: relative;
  width: 60%;
  height: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  border-bottom: 1px solid;
}

.dv-details-item-label-left, .dv-details-item-label-right {
  width: 30%;
}

.dv-details-item-label-left{
  font-weight: bold;
  border-right: 1px solid;
}

.dv-detail-item-comments {
  width: 40%;
}

.detail-item-comments-input {
  width: 88%;
  outline: none;
  padding-left: 2%;
  padding-right: 10%;
  font-size: 14px;
  background-color: #69a269;
  border: none;
  text-align: center;
}

.characters-list .list-item:nth-child(odd) .detail-item-comments-input {
  background:  #8597b5;
}

.comment-pencil-icon {
  position: absolute;
  font-size: 22px;
  color: #3b3b5d;
  padding-left: 5px;
  right: 0;
  top: 3px;
}
.dv-vote-label {
  position: absolute;
  right: 20px;
  top: 40px;
  width: 25%;
}

@media (max-width: 765px) {
  .App {
    margin-right: 5%;
    margin-left: 5%;
  }
  .character-features{
    width: 65%;
  }
  .dv-vote-label {
    right: 50px;
 }
 .dv-details-item-container {
   width: 80%;
   margin-left: 5%;
   margin-right: 5%;
 }
 .dv-footer-separator{
   margin-left: 10%;
   margin-right: 10%;
 }
}
@media (max-width: 550px) {
  .App {
    margin-right: 2%;
    margin-left: 2%;
  }
  .character-features{
    width: 60%;
  }
  .dv-vote-label {
    right: 20px;
 }
 .dv-details-item-container {
   width: 90%;
   margin-left: 2%;
   margin-right: 2%;
   padding-bottom: 3px;
 }
 .dv-footer-separator{
   margin-left: 5%;
   margin-right: 5%;
 }
 .search-icon{
   position: absolute;
   top: 10px;
   right: 10px;
 }
 .search-charaters-input {
   width: 90%;
   padding-left: 2%;
   padding-right: 7%;
 }
}
